**/venv/
**/.venv/
**/__pycache__/
**/*.pyc
**/node_modules/
**/dist/
**/.git/
**/logs/
**/tmp/
**/temp/
**/*.log
**/*.tmp
**/*.temp
**/.cache/
**/.env
**/.env.local
**/.env.*.local
**/*.local
**/*:Zone.Identifier
**/Thumbs.db
**/.DS_Store
